.container-fluid {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
#divh1 {
  display: flex;
  justify-content: center;
}
.botones {
  display: flex;
  justify-content: left;
  gap: 20px;
}
section {
  border: solid 1px rgba(183, 181, 181, 0.614);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 70%;
  height: auto;
}
.inp {
  display: flex;
  flex-direction: column;
}
input::placeholder {
  font-style: italic;
}
input {
  font-style: normal;
}
select {
  margin-bottom: 15px;
}
#uno04 {
  margin-top: -5px;
  margin-bottom: 0px;
}
#sele04 {
  margin-top: -30px;
  margin-bottom: 0px;
}
#list05 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  border: 1px solid rgb(166, 159, 159);
  list-style-type: none;
  border-collapse: inherit;
  margin: 0 auto;
}
#btn05 {
  margin-top: 30px;
}
#prop06 {
  width: fit-content;
}
#prop06:hover {
  cursor: pointer;
  color: rgb(37, 37, 190);
  text-rendering: rgb(147, 150, 231);
}
