body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px;
  background-color: rgb(178, 178, 219);
  background-image: url(./pexels-photo-129731.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pistagrande {
  font-size: 25px;
  font-style: italic;
}
.letrasmal {
  font-size: 25px;
  color: rgb(87, 21, 10);
}

.iluminabackground {
  background-color: rgb(205, 237, 174);
  transition: 1;
  height: 600px;
  transition: background-color 2s ease;
}

main {
  display: flex;
  flex-direction: column;
  background-color: rgb(164, 192, 135);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  border: 2px solid;
  border-color: rgb(153, 124, 124);
  box-shadow: 6px 4px 10px rgba(35, 28, 28, 0.5);
}
.inputs {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  height: auto;
}
input {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  width: 60px;
  height: 60px;
  border: 2px solid rgb(128, 124, 124);
  border-style: double;
  box-shadow: 0px 0px 10px rgba(12, 69, 97, 0.5);
  color: rgb(81, 81, 234);
  border-color: rgb(102, 134, 208);
  margin-top: -20px;
  margin-bottom: 10px;
  background-color: rgb(223, 228, 239);
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
h1 {
  margin-top: 0px;
  color: rgb(161, 76, 76);
  text-align: center;
  font-size: 50px;
  text-decoration: underline 1px solid;
}
.lletra {
  opacity: 0.001;

  border: none;
}
button {
  padding: 10px;
  margin: 8px;
  background-color: rgb(178, 205, 149);
  border: 1px solid rgb(192, 109, 109);
  box-shadow: 6px 4px 10px rgba(35, 28, 28, 0.5);
}
button:hover {
  cursor: pointer;
  background-color: rgb(154, 179, 128);
  transition: background-color 0.4s ease;
  border-color: rgb(170, 108, 108);
}

.perdido {
  padding: 20px;
  border: 2px solid rgb(174, 87, 87);
  background-color: rgb(225, 184, 184);
  color: rgb(139, 35, 35);
  width: auto;
  margin-left: 250px;
  margin-right: 250px;
  box-shadow: 0px 1px 10px rgba(35, 28, 28, 0.5);
  text-shadow: 0px 0px 10px rgba(35, 28, 28, 0.5);
}
.ganado {
  padding: 20px;
  border: 2px solid rgb(73, 98, 199);
  background-color: rgb(184, 185, 225);
  color: rgb(28, 11, 124);
  width: auto;
  margin-left: 250px;
  margin-right: 250px;
  box-shadow: 0px 1px 10px rgba(35, 28, 28, 0.5);
  text-shadow: 0px 0px 10px rgba(35, 28, 28, 0.5);
}

.detalles {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
p {
  font-family: Arial, Helvetica, sans-serif;
}
button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 10px;
}
.adivina {
  margin-top: 30px;
}
.pista {
  display: flex;
  flex-direction: column;
  color: rgb(140, 66, 66);
  text-align: center;
  margin-bottom: -2px;
}
#linea {
  color: rgb(193, 120, 120);
  width: 80%;
}
.vidas {
  margin-right: 3px;
  margin-top: -6px;
  height: 30px;
  width: 30px;
}
.acce {
  height: 35px;
  display: flex;
  text-align: center;
  margin-top: -3%;
  margin-left: 90%;
  margin-right: 30%;
  gap: 15px;
  opacity: 0.5;
  border: 1px solid rgb(140, 66, 66);
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: rgb(138, 165, 109);
  box-shadow: 6px 4px 10px rgba(35, 28, 28, 0.5);
}
.restantes {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.letrasErroneas {
  color: rgb(140, 66, 66);
}
/* Accesibilidad */
.contrastebody {
  background-image: none;
  background-color: black;
}
.contrastemain {
  background-color: rgb(30, 26, 26);
  border: 2px solid;
  border-color: rgb(7, 210, 51);
}
#btoncontr {
  margin-top: 14px;
  width: 22px;
  height: 22px;
}
#btoncontr:hover {
  cursor: pointer;
}
.aumentareduce {
  margin-top: 12px;
  width: 25px;
  height: 25px;
}
#reduce:hover {
  cursor: pointer;
}
#reduce {
  margin-top: 15px;
  width: 20px;
  height: 20px;
}
#aumenta:hover {
  cursor: pointer;
}
.inputsaccesibilidad {
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  width: 60px;
  height: 60px;
  border: 4px solid rgb(7, 7, 7);
  color: rgb(0, 0, 0);
  border-color: rgb(21, 94, 7);
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
}
.inputsacc {
  display: flex;
  flex-direction: wrap;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  background-color: rgb(255, 255, 255);
}
.textos {
  color: rgb(243, 223, 3);
}
.accecontraste {
  background-color: rgb(243, 215, 4);
  opacity: 1;
}
.botonamarillo {
  background-color: rgb(243, 215, 4);
}
.botonamarillo:hover {
  background-color: rgb(243, 215, 4);
}

.x2 {
  font-size: 2em;
}
